@import "https://necolas.github.io/normalize.css/8.0.1/normalize.css";

* {
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 40px;
  width: 400px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background-color: #f1ab48;
}

form {
  align-items: center;
  justify-content: center;
  padding: 2em;
  background-color: beige;
  border-radius: 2em;
}

label {
  
}

label > input {
  margin: auto;
  display:block;
  margin-top: .4em;
  margin-bottom: .4em;
}

select {
  margin: auto;
  display: block;
  margin-top: .2em;
  margin-bottom: .2em;
}

table {
  border: 2px solid black;
  width: 100%;
}

th {
  border-bottom: 1px black;
}

td {
  text-align: center;
}

button {
  display: block;
  margin: auto;
  margin-top: 2em;
  height: 2.5em;
  width: 7em;
}