@import "https://necolas.github.io/normalize.css/8.0.1/normalize.css";

* {
  box-sizing: border-box;
}

body {
  background-color: #f1ab48;
}

h1 {
  margin-left: 36%;
  margin-bottom: 1em;
  text-align: left;
}

.home-page {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 40px;
  width: 100vw;
  height: 90vh;
}

form {
  margin: auto;
  width: 27em;
  padding: 2em;
  background-color: beige;
  border-radius: 2em;
}

label {
  display: block;
  
}

label > input {
  margin: auto;
  display:block;
  margin-top: .4em;
  margin-bottom: .4em;
}

select {
  margin: auto;
  display: block;
  margin-top: .2em;
  margin-bottom: .2em;
  margin-left: 4.3em;
  width: 40%;
  text-align: center;
}

.table-container {
  margin: auto;
  width: 90vw;
  padding: 3em;
  padding-top: 0.5em;
}

table {
  padding: 0.3em;
  border: 2px solid black;
  width: 100%;
}

th {
  border-bottom: 1px black;
}

td {
  text-align: center;
}

button {
  display: block;
  margin: auto;
  margin-top: 2em;
  height: 2.5em;
  width: 7em;
}